.showInfo .label {
  font-weight: bold;
  font-size: 1.2;
}

.showPage > * {
  margin-top: 1rem;;
}

.showPage a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 1.4rem;
  border: 1px solid var(--primary-color);
  padding: 0.2rem  0.8rem;
  border-radius: 8px;
}