.showInfo .label {
  font-weight: bold;
  font-size: 1.2;
}

.showPage > * {
  margin-top: 1rem;;
}

.showPage ul {
  padding: 0;
}

.showPage ul > * {
  margin-top: 1rem;
}

.showPage li {
  list-style-type: none;
}

.showPage a {
  text-decoration: none;
  color: inherit;
  /* padding: 0.2rem  0.8rem; */
}