#root {
  max-width: 1280px;
  width: min(90%, 1280px);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="search"] {
  padding: 0.4rem 0.6rem;
  font: inherit;
  margin: 1rem auto;
  flex-grow: 1;
}

img {
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
}

article img {
  max-width: 20rem;
}

.searchResult {
  display: flex;
  align-items: center;
  align-content: stretch;
  background: var(--secondary-bg-color);
  border-radius: 8px;
  cursor: pointer;
  filter: brightness(0.9);
}

.searchResult:hover {
  /* background: var(--secondary-bg-color-hover); */
  filter: brightness(1);
}

.results a {
  font: inherit;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: inherit;
  display: block;
}

.results a + a {
  
  margin-top: 1rem;
}

.searchResult img {
  max-width: 100px;
  height: 100%;
  min-height: 8rem;
  /* line-height: 8rem; */
}

.searchResult .showInfo {
  width: 100%;
  text-align: center;
  padding-left: 1rem;
}

pre {
  width: 100%;
  white-space: pre-wrap;
  text-align: left;
}