#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
}

article img {
  max-width: 20rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="search"] {
  padding: 0.4rem 0.6rem;
  font: inherit;
  margin: 1rem auto;
  flex-grow: 1;
}

pre {
  width: 100%;
  white-space: pre-wrap;
}